body {
    background: #2F2E41;
    text-align: center;
}

nav ul a,
h1,
footer,
footer a {
    color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
}

nav,
footer {
    font-weight: 500;
}

span {
    font-weight: bold;
    color: #00BFA6;
}

nav {
    margin: 70px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1080px;
    height: 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 64px;
}

nav ul a,
footer a,
footer {
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
}

nav ul a:hover {
    font-weight: bold;
}

main {
    margin: 0 auto 160px;
    display: flex;
    width: 1090px;
    height: 280px;

    justify-content: space-between;
}

h1 {
    margin: 6px auto 60px;
    width: 605px;
    height: 40px;

    line-height: 40px;
    font-size: 36px;
}

p {
    color: #C2C2C2;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    width: 605px;
    height: 168px;
    line-height: 28px;
    font-size: 16px;
    margin: 0 auto 10px;
}

.linha {
    border: 1px solid #00BFA6;
    width: 565px;
    margin: 0px auto 27px;
}

#cadeado {
    position: fixed;
    bottom: 10px;
    left: 10px;
}